@import 'nullStyle';

.container {
    width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.hidden {
    display: none;
}
.header__logo {
    justify-self: flex-start;
}
.burger {
    padding-left: 78px;
    padding-top: 8px;
    background: transparent;
    border: none;
    display: none;
}
.header {
    width: 100%;
    padding-top: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.link__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.link-btn {
    display: flex;
    align-items: center;
}
.link__text {
    color: #000000;
    margin-right: 12px;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contacts__phone {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #A18974;
}
.contacts__email {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #A18974;
    margin-top: 28px;
}
.main {
    padding-top: 162px;
    padding-bottom: 119px;
    display: flex;
    justify-content: space-between;
}
.main__title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 128px;
    text-transform: uppercase;
    max-width: 650px;
}
.main__text {
    margin-top: 66px;
    max-width: 590px;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
}
.main__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.link__text--brown {
    color: #A18974;
}
.main__link:not(:last-child) {
    margin-bottom: 80px;
}
.main__link--underlined  {
    padding-left: 30px;
    padding-bottom: 28px;
    border-bottom: 3px solid #A18974;
}
.portret-block {
    display: flex;
    justify-content: space-between;
}
.portret-block__portret {
    width: 32%;
}
.latest-works {
    position: relative;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
.latests-works__title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-transform: uppercase;
}
.works {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work {
    width: 47%;
    position: relative;
    margin-bottom: 70px;
}
.work__link {
    margin-top: 35px;
}
.work__img {
    width: 100%;
}
.works__text {
    margin-top: 20px;
    width: 60%;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
.more {
    align-self: flex-end;
}   
.footer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.menu-btn{
	font-size: 36px;
}
.menu{
    font-family: 'Raleway', sans-serif;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #121212;
    opacity: 0;
    overflow: hidden;
}
.close-menu{
	position: fixed;
    right: 3em;
    top: 3em;
	margin: 1em;
	font-size: 24px;
	color: #fff;
	z-index: 1;
}
.nav{
	position: absolute;
	left: 21%;
	margin-top: 8%;
}
.main-menu-item{
	padding-top: 30px;
}
.main-menu-item a{
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
}
a ion-icon{
	position: relative;
	font-size: 9px;
	opacity: 0.4;
}

@media (max-width:1400px) {
    .container {
        width: 100vw;
    }
}
@media (max-width:900px) {
    .works__text {
        width: 90%;
    }
    .header__btn, .main__links {
        display: none;
    }
    .burger {
        display: block;
    }
}
@media (max-width:700px) {
    .main__title {
        font-size: 64px;
        line-height: 85px;
    }
    .works {
        justify-content: center;
    }
    .work {
        width: 80vw;
    }
    .works__text {
        width: 98%;
    }
    .portret-block {
        justify-content: center;
    }
    .portret-block__portret--1, .portret-block__portret--3 {
        display: none;
    }
    .portret-block__portret--2 {
        width: 80vw;
    }
}
@media (max-width:600px) {
    .contacts {
        display: none;
    }
}
@media (max-width:500px) {
    .main {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .main__title {
        font-size: 48px;
    }
    .main__text {
        margin-top: 30px;
    }
    .latest-works {
        padding-top: 70px;
    }
}