*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
    sans-serif;
}
body {
    background-color: #F6F6F6;
}
a {
    cursor: pointer;
}
.non-active {
    display: none;
}
.header-container {
    width: 1920px;
    padding: 0 110px;
    margin: auto;
}
.container {
    width: 1530px;
    margin: auto;
    position: relative;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22271C;
}
.subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #777A73;
}
.header {
    margin-top: 52px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav__item:not(:last-child) {
    margin-right: 54px;
}
.nav__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #777A73;
    font-weight: 400;
}
.nav__link:hover {
    color: #588535;
    font-weight: 600;
    transition: all 0.5s ease;
}
.nav__short-menu {
    display: none;
}
.header__buttons {
    display: flex;
}
.header__btn-link {
    display: block;
}
.header__btn-link:not(:last-child) {
    margin-right: 32px;
}
.main {
    position: relative;
}
.main__container {
    position: relative;
}
.main__plant-bg {
    display: block;
    position: absolute;
    top: -90px;
    right: 85px;
    z-index: -10;
}
.main__text-block {
    padding-top: 150px;
    max-width: 40%;
}
.main__sup {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #22271C;
}
.main__title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 100px;
    line-height: 125px;
    color: #22271C;
}
.main__text {
    margin-top: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #777A73;
    max-width: 80%;
}
.main__btn-block {
    display: flex;
    margin-top: 50px;
}
.main__cart-btn {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background: url(./img/maincart.svg) no-repeat center / contain;
    padding: 15px 49px 15px 34px;
    text-decoration: none;
    transition: all 0.5 ease;
}
.main__cart-btn:hover, .main__learn-btn:hover {
    opacity: 0.7;
    
}
.main__learn-btn {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #588535;
    text-decoration: none;
    padding: 15px 34px 15px 49px;
    background: url(./img/mainlearn.svg) no-repeat center / contain;
}
.cards {
    margin-top: 342px;
    position: relative;
    width: 100%;
}
.card__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 100px;
}
.card {
    display: flex;
    align-items: center;
    padding: 35px 34px 40px 20px;
    border-radius: 18px;
    position: relative;
    width: fit-content;
}
.card-active {
    background: #588535;
    color: #FFFFFF;
}
.card-nonactive {
    background: #FFFFFF;
    color: #22271C;;
}
.card__img {
    margin-right: 18px;
}
.card__text-block {
    width: 222px;
}
.card__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}
.card__desc {
    font-size: 20px;
    line-height: 26px;
    opacity: 0.6;
    margin-bottom: 10px;
}
.card__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 21px;
}
.card__btn {
    background: #FBFDFE;
    border-radius: 5px;
    font-size: 14px;
    line-height: 30px;
    color: #588535;
    padding: 4px 24px;
    text-decoration: none;
}
.card__btn:hover {
    opacity: 0.7;
}
.card::after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.liked-active::after {
    background: url(./img/heart.svg) no-repeat center / contain;
}
.liked::after {
    background: url(./img/green-heart.svg) no-repeat center / contain;
}
.unliked::after {
    background: url(./img/unliked.svg) no-repeat center / contain;
}
.left-btn {
    position: absolute;
    top: 95px;
    right: -70px;
    z-index: 10;
}
.categories {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits {
    display: flex;
    justify-content: space-between;
}
.benefits__item {
    display: flex;
    align-items: center;
}
.benefits__item-img {
    object-fit: contain;
}
.benefits__text-block {
    margin-left: 30px;
}
.benefits__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #22271C;
}
.benefits__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #777A73;
    margin-top: 5px;
}
.plant-care {
    background: url(./img/leaf-bg.png) no-repeat center / cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.plant-care__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}
.plant-care__subtitle {
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
}
.plant-care__cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.plant-care__card {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 5px 10px 30px rgba(22, 0, 86, 0.06);
    border-radius: 10px;
    padding: 31px 0px 31px 30px;
    width: 487px;
}
.plant-care__text-block {
    margin-left: 20px;
    max-width: 70%;
}
.plant-care__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #22271C;
}
.plant-care__card-text {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #777A73;
}
.collections__cards {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    grid-gap: 30px;
    margin-bottom: 50px;
}
.collections__card {
    background: #F6F6F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.collections__card--1, .collections__card--7 {
    height: 756px;
}
.collections__card--1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.collections__card--7 {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}
.collections__card--2, .collections__card--3, .collections__card--4, .collections__card--5, .collections__card--6 {
    height: 363px;
}
.collections__card-img {
    object-fit: contain;
}
.collections__text-block {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.collections__category {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22271C;
}
.collections__items {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #588535;
}
.collections__title {
    margin-top: 120px;
}
.collections__subtitle {
    margin-top: 10px;
}
.collections__btn {
    border-radius: 10px 0 10px 0;
    border: 1px solid #588535;
    width: fit-content;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #588535;
    padding: 14px 55px;
    text-decoration: none;
    display: block;
    margin: auto;
}
.collections__btn:hover {
    background: #588535;
    color: #fff;
}
.product {
    background: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.product__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__subtitle {
    margin-top: 10px;
}
.product__cards {
    padding-top: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 100%;
}
.product__card {
    border: 1px solid rgba(88, 133, 53, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}
.product__card-img {
    object-fit: contain;
    padding-top: 44px;
    padding-bottom: 45px;
    width: fit-content;
    margin: auto;
}
.product__text-block {
    background: rgba(88, 133, 53, 0.1);
    padding: 30px;
    transition: all 0.5s ease;
    border-radius: 0 0 10px 10px;
}
.product__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22271C;
    transition: all 0.5s ease;
}
.product__card-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #22271C;
    transition: all 0.5s ease;
}
.product__actions {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #588535;
    padding: 5px 25px;
    border-radius: 10px 0 10px 0;
    border: 1px solid #588535;
    text-decoration: none;
}
.product__card:hover {
    border: 1px solid #588535;
}
.product__card:hover .product__text-block {
    background: #588535;
}
.product__card:hover .product__card-name {
    color: #FFFFFF;
}
.product__card:hover .product__card-price {
    color: #FFFFFF;
}
.product__card:hover .product__btn{
    border-radius: 10px 0 10px 0;
    border: 1px solid #588535;
    background: #fff;
}
.slider__btns {
    display: flex;
    align-items: center;
}
.slider__unactive {
    border: 2px solid rgba(88, 133, 53, 0.5);
}
.slider__active {
    border: 4px solid #588535;
}
.product__slider-btns {
    margin-top: 50px;
}
.slider__btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.slider__btn:not(:last-child) {
    margin-right: 10px;
}
.biography {
    background: #FFFFFF;
    padding-bottom: 120px;
}
.biography__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.biography__subtitle {
    margin-top: 10px;
}
.biography__slider {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.biography__slider-btns {
    margin-top: 50px;
}
.biography__cards {
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.biography__card {
    background: rgba(88, 133, 53, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 36px;
    width: 357px;
    position: relative;
}
.biography__card-img {
    display: block;
    margin-top: -145px;
    margin-left: 25px;
}
.biography__card-number {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #588535;
}
.biography__card-desc {
    margin-top: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #777A73;
}
.review {
    background: #FFFFFF;
    padding-bottom: 120px;
}
.review__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review__subtitle {
    margin-top: 10px;
}
.review__slider {
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.review__slider-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 31.5%; 
    position: relative;
    box-shadow: 5px 10px 30px rgba(22, 0, 86, 0.1);
    border-radius: 10px;
}
.review__slider-img {
    margin-top: -50px;
}
.review__slider-item--unactive {
    background: #FFFFFF;
}
.review__slider-item--active {
    background: #588535;
    border-radius: 10px;
}
.review__slider-title {
    margin-top: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.review__slider-title--unactive {
    color: #22271C;
}
.review__slider-title--active {
    color: #FFFFFF;
}
.review__slider-subtitle {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.review__slider-subtitle--active {
    color: rgba(255, 255, 255, 0.8);
}
.review__slider-subtitle--unactive {
    color: #777A73;
}
.review__slider-text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.review__slider-text--unactive {
    color: #777A73;
    padding-bottom: 30px;
}
.review__slider-text--active {
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 82px;
}
.review__slider-btns {
    margin-top: 50px;
}
.posts {
    background: #FFFFFF;
    padding-bottom: 120px;
}
.posts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts__subtitle {
    margin-top: 10px;
}
.posts__cards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.posts__card {
    max-width: 357px;
}
.posts__image-block {
    position: relative;
    height: fit-content;
}
.posts__card-date {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    background: #588535;
    padding: 7px 16px;
    width: fit-content;
    border-radius: 0 10px 0 0;
    position: absolute;
    left: 0;
    bottom: 7px;
    z-index: 10;
}
.posts-btns {
    margin-top: 50px;
}
.posts__text-block {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(23, 0, 88, 0.1);
    border-radius: 0px 0px 10px 10px;
    margin-top: -7px;
    padding: 15px 0 30px 20px;
    width: 100%;
}
.posts__card-text {
    max-width: 60%;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #777A73;
}
.posts__more {
    display: flex;
    margin-top: 20px;
}
.posts__more-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #588535;
    opacity: 0.8;
    margin-right: 14px;
}
.form-section {
    background: #FFFFFF;
    padding-bottom: 140px;
}
.form__container {
    background: url(./img/form-bg.png) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}
.form__title {
    margin-top: 120px;
}
.form__subtitle {
    margin-top: 10px;
}
.form {
    display: flex;
    margin-top: 50px;
}
.form__input {
    border-radius: 10px 0 0 0;
    border: none;
    background: #F6F6F6;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22271C;
    padding: 20px 30px;
    width: 529px;
}
.form__input::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #777A73;
}
.form__btn {
    background: #588535;
    border-radius: 0 0 10px 0;
    border: none;
    padding: 17px 51px 17px 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 20px;
}
.form__btn:hover {
    background: #fff;
    color: #588535;
}
.footer {
    padding-top: 176px;
    padding-bottom: 133px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__desc {
    width: fit-content;
}
.footer__desc-text {
    margin-top: 40px;
    max-width: 340px;
    text-align: start;
}
.footer__socials-wrap {
    margin-top: 30px;
}
.footer__socials-link:not(:last-child) {
    margin-right: 10px;
}
.footer__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #22271C;
}
.footer__list {
    list-style: none;
}
.footer__list-link {
    text-decoration: none;
}
.footer__list-item {
    margin-top: 15px;
}
.footer__list-link:hover {
    color: #588535;
}
.footer__list-link--nohover:hover {
    color: #777A73;
}
.footer__list-link--green {
    color: #588535;
}
.copyright {
    background: #22271C;
    padding: 20px 0;
}
.copyright__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright__text-green {
    color: #588535;
}
.copyright__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);
}
.copyright__list {
    display: flex;
    list-style: none;
}
.copyright__item {
    display: block;
}
.copyright__link:hover {
    color: #588535;
}
.copyright__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.copyright__item:not(:last-child) {
    margin-right: 30px;
}
@media (max-width:1920px) {
    .header-container {
        width: 95%;
        margin: auto;
    }
    .main__card:last-child {
        display: none;
    }
}
@media (max-width:1530px) {
    .container {
        width: 90%;
    }
    .main__plant-bg {
        height: 700px;
    }
    .main__sup {
        font-size: 20px;
        }
    .main__title {
        font-size: 60px;
        line-height: 100px;
    }
    .main__text {
        margin-top: 20px;
        font-size: 20px;
        line-height: 30px;
    }
    .main__cart-btn {
        font-size: 18px;
    }
    .main__learn-btn {
        font-size: 18px;
    }
    .cards {
        margin-top: 150px;
    }
    .card {
    padding: 20px 34px 20px 20px;
    }
    .card__text-block {
        max-width: 170px;
    }
    .left-btn {
        top: 65px;
    }
    .categories {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .collections__title {
        margin-top: 100px;
    }
    .plant-care__card {
        width: 32%;
        padding-right: 10px;
    }
    .product {
        background: #FFFFFF;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .product__actions {
        flex-direction: column;
    }
    .product__rating {
        margin-top: 20px;
    }
    .biography__slider-img {
        width: 29vw;
    }
    .biography__card {
        width: 22vw;
    }
    .posts__card {
        width: 30vw;
    }
    .posts__card:last-child {
        display: none;
    }
    .review__slider-text {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width:1390px) {
    .collections__card-img {
        width: 50%;         
        object-fit: contain;
        margin: auto;
    }
    .card {
        width: 33%;
    }
}
@media (max-width:1215px) {
    .main__sup {
        font-size: 16px;
    }
    .main__plant-bg {
        top: -115px;
    }
    .main__text-block {
        padding-top: 60px;
    }
    .main__title {
        font-size: 40px;
        line-height: 60px;
    }
    .main__card {
        flex-direction: column;
    }
    .benefits {
        align-items: flex-end;
    }
    .benefits__item {
        flex-direction: column;
        text-align: center;
    }
    .benefits__text-block {
        margin-left: 0;
    }
    .card__img {
        margin: auto;
        padding-bottom: 10px;
    }
    .card__text-block {
        text-align: center;
    }
    .left-btn {
        top: 40%;
    }
    .nav {
        max-width: 50%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .posts__image-block {
        width: 29vw;
        overflow: hidden;
    }
    .posts__card {
        width: 29vw;
    }
}
@media (max-width:1010px) {
    .left-btn {
        display: none;
    }
    .subtitle {
        font-size: 14px;
    }
    .product__cards {
        padding-top: 50px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        width: 100%;
    }
    .main__plant-bg {
        height: 500px;
    }
    .header__nav {
        display: none;
    }
    .nav__short-menu {
        display: block;
    }
    .main__text-block {
        padding-top: 30px;
    }
    .main__text {
        margin-top: 20px;
        font-size: 16px;
        line-height: 30px;
        width: 100%;
    }
    .cards {
        margin-top: 70px;
    }
    .main__card:nth-child(3) {
        display: none;
    }
    .main__card {
        width: 48%;
    }
    .plant-care__card {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px 10px;
    }
    .plant-care__text-block {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
    .footer__title {
        font-size: 20px;
    }
}
@media (max-width:850px) {
    .header-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .header__buttons {
        display: none;
    }
    .title {
        font-size: 30px;
    }
    .form__input {
        font-size: 16px;
        width: 50vw;
    }
    .form__btn {
        font-size: 16px;
        width: 21vw;
    }
    .main__plant-bg {
        height: 400px;
        top: -85px;
    } 
    .main__text-block {
        max-width: 100%;
    }
    .main__title {
        max-width: 40%;
    }
    .collections__category {
        font-size: 16px;
        line-height: 20px;
    }
    .collections__items {
        font-size: 12px;
        list-style: 16px;
    }
    .benefits {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .benefits__item:not(:last-child) {
        margin-bottom: 50px;
    }
    .biography__cards {
        flex-direction: column;
    }
    .biography__card {
        width: 90vw;
    }
    .biography__card:not(:last-child) {
        margin-bottom: 50px;    
    }
}
@media (max-width:720px) {
    .collections__cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .collections__card--1 {
        grid-row: unset;
        grid-column: unset;
    }
    .collections__card--7 {
        grid-row: unset;
        grid-column: unset;
    }
    .collections__card {
        height: 363px;
    }
    .product__cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .review__slider-item {
        width: 90vw;
    }
    .review__slider-item--unactive {
        display: none;
    } 
    .footer__container {
        flex-direction: column;
    }
    .footer__desc-text {
        max-width: 90vw;
    }
    .footer__title {
        margin-top: 30px;
    }
}
@media (max-width:600px) {
    .main__plant-bg {
        display: none;
    }
    .main__title {
        max-width: 90vw;
    }
    .main__text-block {
        max-width: 90vw;
    }
    .product__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .header-container {
        padding: 10px;
    }
    .plant-care__cards {
        flex-direction: column;
        align-items: center;
    }
    .plant-care__card {
        width: 95vw;
        margin-bottom: 10px;
    }
    .biography__cards {
        flex-direction: column;
    }
    .biography__card {
        width: 95vw;
    }
    .biography__card:not(:last-child) {
        margin-bottom: 50px;
    }
    .posts__card {
        width: 90vw;
        margin: auto;
    }
    .posts__card--unactive {
        display: none;
    }
    .posts__image-block {
        width: 100%;
        overflow: hidden;
    }
    .form {
        flex-direction: column;
        align-items: center;
    }
    .form__input {
        font-size: 16px;
        width: 80vw;
        border-radius: 10px;
    }
    .form__btn {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 20px;
    }
    .copyright__container {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media (max-width:460px) {
    .collections__cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .product__cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:400px) {
    .main__card:nth-child(2) {
        display: none;
    }
    .main__card {
        width: 100%;
    }
    .main__btn-block {
        flex-direction: column;
    }
    .main__cart-btn {
        align-self: flex-start;
    }
    .main__learn-btn {
        align-self: flex-end;
    }
}